<!DOCTYPE html>
<html>
<head>
  <title>SingleSignon</title>
  <%= stylesheet_link_tag    "single_signon/application", :media => "all" %>
  <%= javascript_include_tag "single_signon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
